.content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	@media only screen and (min-width: 450px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media only screen and (min-width: 750px) {
		grid-template-columns: repeat(12, 1fr);
	}
}

.header {
	display: grid;
	grid-template-columns: 100%;
	justify-items: center;
	align-items: center;
	
	.nav-links {
		display: none;
	}

	@media only screen and (min-width: 450px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
		.logo {
			grid-column: 1 / 2;
		}

		.nav-links {
			display: block;
			grid-column: 3 / 4;
		}
	}
}